<div id="<%= dom_id point_table %>">
  <p>
    <strong>Name:</strong>
    <%= point_table.name %>
  </p>

  <p>
    <strong>Win:</strong>
    <%= point_table.win %>
  </p>

  <p>
    <strong>Loss:</strong>
    <%= point_table.loss %>
  </p>

  <p>
    <strong>Draw:</strong>
    <%= point_table.draw %>
  </p>

  <p>
    <strong>Goals for:</strong>
    <%= point_table.goals_for %>
  </p>

  <p>
    <strong>Goals against:</strong>
    <%= point_table.goals_against %>
  </p>

  <p>
    <strong>Goals diff:</strong>
    <%= point_table.goals_diff %>
  </p>

  <p>
    <strong>Total points:</strong>
    <%= point_table.total_points %>
  </p>

</div>
