<p style="color: green"><%= notice %></p>

<%= render @point_table %>

<div>
  <%= link_to "Edit this point table", edit_point_table_path(@point_table) %> |
  <%= link_to "Back to point tables", point_tables_path %>

  <%= button_to "Destroy this point table", @point_table, method: :delete %>
</div>
