<div class="nice container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Team</th>
        <th scope="col">P</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">D</th>
        <th scope="col">F</th>
        <th scope="col">A</th>
        <th scope="col">Pts</th>
      </tr>
    </thead>
    <tbody>
      <% @point_tables.each do |team| %>  
        <tr class=<%= "active" if team.id == @mini_goal_difference_id %>>
          <td><%= team.name %></td>
          <td><%= 38 %></td>
          <td><%= team.win %></td>
          <td><%= team.loss %></td>
          <td><%= team.draw %></td>
          <td><%= team.goals_for %></td>
          <td><%= team.goals_against %></td>
          <td><%= team.total_points %></td>               
        </tr>
      <% end %>
    </tbody>
  </table>
</div>